@page "/work"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<WorkBackground />

<div style="position: relative">
    <h1 class="heading">This website may not work very well, but I sure do</h1>

    <p>
        Check out my <a href="https://github.com/dolphingarlic">GitHub profile</a>
        or my <a href="https://www.linkedin.com/in/andi-qu-48313a154/">LinkedIn profile</a>
        to see what I'm currently working on.
    </p>

    <p>
        If you're a recruiter, you can reach me at <a href="mailto:andi@andiqu.com">andi@andiqu.com</a>,
        and you can see my resumé below (last updated January 30, 2022).
    </p>

    <embed src="assets/resume.pdf" width="100%" height="600px" style="margin-bottom: 1rem" />

    <h1 class="heading">List of my GitHub projects with 3 or more stars</h1>

    @if (projects == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <Row Gutter="16">
            @foreach (var project in projects)
                @if (project.Stargazers_Count > 2)
                {
                    <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="8" Xl="6">
                        <Card Style="margin-bottom: 1rem; height: 250px">
                            <TitleTemplate>
                                <a href="@project.Html_Url">@project.Name</a>
                            </TitleTemplate>

                            <Body>
                                <p>@project.Description</p>
                                @foreach (var topic in project.Topics)
                                {
                                    <Tag>@topic</Tag>
                                }
                            </Body>
                            <Extra>
                                <Icon Type="star" Theme="outline" /> @project.Stargazers_Count
                            </Extra>
                        </Card>
                    </AntDesign.Col>
                }
        </Row>
    }
</div>

@code {
    struct Project
    {
        public string Name { get; set; }
        public string Description { get; set; }
        public bool Fork { get; set; }
        public string Html_Url { get; set; }
        public int Stargazers_Count { get; set; }
        public string[] Topics { get; set; }
    }

    private Project[] projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<Project[]>("https://api.github.com/users/dolphingarlic/repos?per_page=100");
    }
}
